body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

* {box-sizing: border-box;}

/*---------------------------------------Title in Nabar-----------------*/
.title {
    font-size: 30px;
}

/*---------------------------------------positioning content in navar-----------------*/
.gluten-nav {
    display: flex;
    justify-content: center;
}

.gluten-list {
    position: absolute;
    top: 0;
    left: 0;
}

.gluten-right {
    position: absolute;
    top: 0;
    right: 0;
}

.start {
    height: 200px;
    width: 200px
}
/*---------------------------------------home-pic-----------------*/

.homepic {
    margin-top: 30px;
}
/*---------------------------------------flashes-----------------*/
.flashes h4 {
    line-height: 2;
}

/*---------------------------------------Centering card panels-----------------*/
.card-panel {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.container {
  margin: 0;
  max-width: 100%;
  width: 100%;
}
.row.card-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row.card-container .col {
    width: 25%;
    margin-left: initial;
    left: initial ;
    right: initial;
    margin-bottom: 30px;
}
/*---------------------------------------Resizing Images in Cards-----------------*/
.gluten-pic {
    height: 150px;
    width: 150px;
}
/*---------------------------------------Centering information in cards-----------------*/
.card-center {
    text-align: center;
}

.homepicsize {
    height: 700px;
    width: 700px;
}

/*---------------------------------------media-queiries-----------------*/

@media screen and (max-width: 1075px) {

    html,
    body {
        overflow-x: hidden;
    }

    .title {
        font-size: 20px;
    }

    .row.card-container .col {
        width: 50%;
    }
}

.homepicsize {
    height: 600px;
    width: 600px;
}


@media screen and (max-width: 830px) {

    .row.card-container .col {
        width: 100%;
    }

    .homepicsize {
        height: 310px;
        width: 310px;
    }
}

