{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Starters</h3>

<ul class="collapsible">
  {% for starter in starters %}
  <li>
    <div class="collapsible-header white-text light-blue center-align">
      <i class="fa-solid fa-angle-down"></i>
      <strong>{{ starter.starter_names }}</strong>
    </div>
    <div class="collapsible-body">

      <strong>Tools:</strong>
      <p>{{ starter.starter_tools }}</p>
      <strong>Ingredients:</strong>
      <p>{{ starter.starter_ingredients }}</p>
      <strong>Directions:</strong>
      <p>{{ starter.starter_directions }}</p>
      <p><em>by: {{ starter.created_by }}</em></p>
      <div class="center-align">
        {% if session.user|lower == starter.created_by|lower %}
        <a href="{{ url_for('edit_starters', starter_id=starter._id) }}"
          class="modal-close waves-effect waves-blue btn-flat light-blue">Edit</a>
        <a href="{{ url_for('delete_starters', starter_id=starter._id) }}"
          class="modal-close waves-effect waves-blue btn-flat red">Delete</a>
        {% endif %}
      </div>
    </div>
    </div>
    </div>

    </div>

  </li>

  {% endfor %}
</ul>
{% endblock %}